@font-face {
    font-family: Instruction;
    src: url(Instruction.otf) format("opentype");
}
@font-face {
    font-family: Instruction;
    font-weight: bold;
    src: url(Instruction\ Bold.otf) format("opentype");
}
@font-face {
    font-family: Instruction;
    font-style: italic;
    src: url(Instruction\ Italic.otf) format("opentype");
}
@font-face {
    font-family: Instruction;
    font-weight: bold;
    font-style: italic;
    src: url(Instruction\ Bold\ Italic.otf) format("opentype");
}