/** MOBILE 
 * At least try something
 * Doesn't always work
 */
#page-container {
    background: #74B49344;
    width: 100%;
    
    border: 0;

    padding: 0.1em;
}

body {
    font-size: 1.5em;
}

input {
    height: 1.5em;
}

.rounded-corners-1 {
    border-radius: 25px;
    border-color: #6EA990;
    border-style: solid;
    border-width: 1em;
    padding: 0px;
    width: auto;
    
    /* height: 150px;    */
}


