/*
M-BANK COLORS ARE:

#735D5A
#6EA990
#5BA69A
#74B493
#BE8D6B

*/

body {
    font-size: 1.2em;
    font-family: Niramit, Calibri, Verdana, sans-serif;
    text-align: center;
}

img.page-top-logo { 
    width: 8em; 
    margin-bottom: 0;
}

h1.page-top-logo { margin-top: 0; }

#page-container {
    background: #74B49344;
    width: 35em;
    
    border: 0.4em solid #6EA990;
    border-radius: 15px;
    margin: auto;

    padding: 2em;

}

#footer {
    margin-top: 2em;
    font-size: 0.9em;
}

h2 { font-size: 1.4em; }

div {
    margin: auto;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th { 
    padding-left: 0.5em;
    padding-right: 0.5em;
}

td:nth-child(n+2), th:nth-child(n+2){ border-left: 1px solid gray; }

.new_payment_container{
    display: flex;
    flex-direction: column;
}

.rounded-corners-1 {
    border-radius: 25px;
    border-color: #6EA990;
    border-style: solid;
    border-width: 1em;
    padding: 20px;
    width: 20em;
    /* height: 150px;    */
}

.layout-only, .layout-only td, .layout-only th {
    border: 0;
}

.alternating-background:nth-child(odd){ background: #cccccc; }
.alternating-background:nth-child(even){ background: #ffffff; }

.negative-amount { color: red; }
.positive-amount { color: green; }

.contains-number { 
    text-align: right; 
    white-space: nowrap;
    font-family: Courier, monospace;
}

.error { color: red; }


